<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Wattsim</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <h1>Des chiffres</h1>
  <div class="FlexGraph">
  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphA }}" target="_blank">
      <!--<div class="GraphTitre">Production totale</div>-->
      <img src='data:image/png;base64,{{ GraphA }}' width="650px"/>
    </a>
  </div>
  <h3>{{ TotalProd }}</h3>

  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphB }}" target="_blank">
      <!--<div class="GraphTitre">Production moyenne</div>-->
      <img src='data:image/png;base64,{{ GraphB }}' width="650px"/>
    </a>
  </div>
  <h3>{{ MoyProd }}</h3>
</body>
</html>